body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
}

input, textarea {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 80%;
}

button {
    padding: 10px;
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: darkgreen;
}
